<app-navbar></app-navbar>
<main class="animated fadeIn fast no-gutters">
    <div class="headerProductsGrid">
        <div class="clkProductGrid">
            <h3>Producto</h3>
            <h3>SKU</h3>
            <h3>Código de Barras</h3>
        </div>
        <div>
            <h3>Estado</h3>
        </div>

    </div>
    <article class="productsGrid"
        *ngFor="let product of products | paginate: { id: 'listing-pagination', itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalProducts } let i = index">
        <button (click)="viewProduct(i)" class="clkProductGrid">
            <div>
                <div class="grey-box"></div>
            </div>
            <div>SKU {{product.sku}}</div>
            <div>{{product.barcode}}</div>
        </button>
        <div class="switch-control">
            <label class="switchSmall m5">
                <input class="switchBtn" type="checkbox" checked="">
                <small></small>
            </label>
        </div>
    </article>
    <div class="bg-white pagination-box paginationGrid">
        <div>
            <span>Ítems por página</span>
            <select (change)="showItems($event)" class="form-control">

                <option value="10">10</option>
                <option value="5">5</option>
                <option value="20">20</option>
            </select>
        </div>
        <pagination-controls id="listing-pagination" class="pagination justify-content-end" maxSize="10"
            directionLinks="true" (pageChange)="page=$event">
        </pagination-controls>
    </div>
</main>