<main class="animated fadeIn fast no-gutters">
    <div class="headerProductsGrid">
        <div class="clkProductGrid">
            <h3>Producto</h3>
            <h3>SKU</h3>
            <h3>Código de Barras</h3>
        </div>
        <div>
            <h3>Estado</h3>
        </div>

    </div>
    <article class="productsGrid"
        *ngFor="let product of products | paginate: { id: 'listing-pagination', itemsPerPage: 10, currentPage: page, totalItems: totalProducts } let i = index">
        <button (click)="viewProduct(i)" class="clkProductGrid">
            <div>
                <div class="grey-box"></div>
            </div>
            <div>SKU {{product.sku}}</div>
            <div>{{product.barcode}}</div>
        </button>
        <div class="switch-control">
            <label class="switchSmall m5">
                <input class="switchBtn" type="checkbox" checked="">
                <small></small>
            </label>
        </div>
    </article>
    <div class="bg-white pagination-box paginationGrid">
        <div>
            <span>Ítems por página</span>
            <select class="form-control">
                <option>20</option>
                <option>10</option>
                <option>5</option>
            </select>
        </div>
        <pagination-controls id="listing-pagination" class="pagination justify-content-end" maxSize="10"
            directionLinks="true" (pageChange)="page=$event">
        </pagination-controls>
    </div>
</main>

<!-- <main class="animated fadeIn fast no-gutters">
    <div class="headerProductsGrid">
        <div>Producto</div>
        <div>SKU</div>
        <div>Código de Barras</div>
        <div>Estado</div>
    </div>
    <button (click)="viewProduct(i)" class="productsGrid"
        *ngFor="let product of products | paginate: { id: 'listing-pagination', itemsPerPage: 10, currentPage: page, totalItems: totalProducts } let i = index">
        <div>
            <div class="grey-box"></div>
        </div>
        <div>SKU {{product.sku}}</div>
        <div>{{product.barcode}}</div>
        <div class="switch-control">
            <label class="switchSmall m5 btnSwitch">
                <input #productBox matInput (click)="toggleActivation($event)" type="checkbox"
                    checked="">
                <small></small>
            </label>
        </div>
        <div>{{product.stock.status}}</div> 
    </button>
    <div class="bg-white pagination-box paginationGrid">
        <div>
            <span>Ítems por página</span>
            <select class="form-control">
                <option>20</option>
                <option>10</option>
                <option>5</option>
            </select>
        </div>
        <pagination-controls id="listing-pagination" class="pagination justify-content-end" maxSize="10"
            directionLinks="true" (pageChange)="page=$event">
        </pagination-controls>
    </div>
</main> -->



