@import "../../../styles.scss";

.headerProductsGrid,
.productsGrid {
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    justify-items: stretch;
    align-items: center;
    align-self: center;
    background-color: white;
    @include commonText;
    .clkProductGrid {
        display: grid;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 1px;
        justify-items: stretch;
        align-items: center;
        align-self: center;
        background-color: white;
        font-weight: 300;
        @media (max-width: 992px) {
            grid-template-columns: 30% 35% 35%;
        }
        @media (min-width: 992px) {
            grid-template-columns: 65% 18% 17%;
        }
        h3 {
            font-weight: 300;
            @include commonText;
        }
        h3,
        div {
            font-weight: 300;

            &:first-child {
                padding-left: 2rem;
            }
        }
    }
    div {
        h3 {
            font-weight: 300;
            @include commonText;
        }
    }
    @media (max-width: 992px) {
        grid-template-columns: 80% 20%;
    }
    @media (min-width: 992px) {
        grid-template-columns: 90% 10%;
    }
}
.headerProductsGrid {
    border-radius: $border-radius $border-radius 0 0;
    color: darken($color: rgba($grey, 100%), $amount: 10%);
    padding: 1.5rem 0;
}

.productsGrid {
    border-bottom: 1px solid darken($color: rgba($light, 96%), $amount: 10%);
    transition: all 0.5s $cubic-bezier;
    .grey-box {
        background-color: rgba($grey, 70%);
    }
    @media (max-width: 1500px) {
        padding: 0.4rem 0;
        .grey-box {
            width: 45px;
            height: 45px;
        }
    }
    @media (min-width: 1500px) {
        padding: 0.8rem 0;
        .grey-box {
            width: 50px;
            height: 50px;
        }
    }
}
button {
    display: inline-block;
    border: none;
    margin: 0;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    color: $dark;
    &:hover {
        // background-color: lighten($color: rgba($violet, 20%), $amount: 40%);
        color: darken($color: rgba($dark, 100%), $amount: 20%);
        font-weight: normal;
        font-size: 0.9rem;
        cursor: pointer;
        transition: all 0.5s $cubic-bezier;
    }
    &:focus {
        outline: none;
        outline-offset: 0;
    }
    label {
        margin-bottom: 0;
    }
}
// Pagination
.paginationGrid {
    padding: 0.5rem 2.2rem 1.2rem 0;
    width: 100%;
    display: grid;
    font-weight: 300;
    align-items: flex-end;
    justify-items: right;
    @include commonText;
    color: darken($color: rgba($grey, 100%), $amount: 10%);
    div:first-child {
        display: grid;
        grid-template-columns: 3fr auto;
        justify-items: stretch;
        align-items: center;
        align-self: center;
        select {
            width: 100%;
            padding: 0 10px;
            color: darken($color: rgba($grey, 100%), $amount: 10%);
            border-bottom: 1px solid darken($color: rgba($light, 96%), $amount: 10%);
            border-radius: 0;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 992px) {
        grid-template-columns: 75% auto;
    }
}
.page-link {
    color: darken($color: rgba($grey, 100%), $amount: 30%);
    background-color: white;
    border: none;
    @include commonText;
}
.pagination-box {
    border-radius: 0 0 $border-radius $border-radius;
}
.ngx-pagination .current {
    background: white !important;
    color: darken($color: rgba($grey, 100%), $amount: 30%);
    @include commonText;
}

// Switch button
.switch-control {
    label {
        margin-bottom: 0;
    }
}
.switchSmall {
    display: inline-block;
}
.switchSmall input {
    display: none;
}
.switchSmall small {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: darken($color: rgba($light, 96%), $amount: 10%);
    border-radius: 44px;
    position: relative;
    cursor: pointer;
}
.switchSmall small:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: 0.2s;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.2);
}
.switchSmall input:checked ~ small {
    background-color: $violet;
    transition: 0.15s;
}
.switchSmall input:checked ~ small:before {
    transform: translate(20px, 0px);
    transition: 0.15s;
}
.btnSwitch {
    background: none;
    width: 40px;
    height: 20px;
}
