<app-navbar-detail [product]="product"></app-navbar-detail>
<main class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 no-gutters">
            <div class="card card-small">
                <h2>Resumen del producto</h2>
                <div class="row">
                    <div class="col-6"><div class="grey-box"></div></div>
                    <div class="col-6 card-data">
                        <h3>Producto</h3>
                        <p>{{product.name}}</p>

                        <h3>SKU</h3>
                        <p>{{product.sku}}</p>

                        <h3>Código de barras</h3>
                        <p>{{product.barcode}}</p>

                        <h3>Precio</h3>
                        <p>{{product.price}} €</p>
                    </div>
                </div>
            </div>
            <div class="card card-small mt-3">
                <h2>Requerimientos del packaging</h2>
                <ul>
                    <li>
                        <div class="round">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                    </li>
                    <li>
                        <div class="round">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                    </li>
                    <li>
                        <div class="round">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                    </li>
                    <li>
                        <div class="round">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                    </li>
                    <li>
                        <div class="round">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                    </li>
                    <li>
                        <div class="round">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                    </li>
                    <li>
                        <div class="round">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-12 col-lg-8 bigListDetail">
            <div class="card">
                <h2>Resumen del producto</h2>
                <div class="inventoryGrid">
                    <h3>Ciudad</h3>
                    <h3>País</h3>
                    <h3>Almacén</h3>
                    <h3>Stock disponible</h3>
                </div>
                <div class="inventoryGrid">
                    <p>{{product.stock.warehouse.city}}</p>
                    <div [ngSwitch]="placement">
                        <div *ngSwitchCase="product.stock.warehouse.city == 'Barcelona'">España</div>
                        
                        <span *ngSwitchDefault>España</span>
                    </div>
                    <p>{{product.stock.warehouse.name}}</p>
                    <p>{{product.stock.quantity}}</p>
                </div>
            </div>
        </div>
    </div>
</main>